:root {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.base-header {
    background-color: #FFFFFF;
    width: 100vw;
    padding-bottom: 13px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 990;
}

.logo {
    width: 155px;
}

.nav {
    background-color: #FFFFFF;
}

.nav-items {
    font-size: 16px;
    display: flex;  
    justify-content: center;
    align-items: center;
   
}

.link{
    text-decoration: none;
    color: #4a4a4a;
    text-transform: uppercase;
    padding: 10px 10px 13px 10px;
}

.main {
    background-color: #3CDBC0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

.title{
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
    word-spacing: 100vw;
    
}


@media screen and (min-width: 768px) {
   
    .base-header {
        display: flex;
        flex-direction: row ;
        justify-content: space-between;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .logo {
        box-sizing: border-box;
        
    }

    .title {
        font-size: 40px;
    }
 }
